/* .map iframe {
  pointer-events: none;
} */

section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: 50%;
}

section {
  padding: 100px 0;
  display: block;
}

section#contact .section-heading {
  color: #fff;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.text-muted {
  color: #868e96 !important;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, san-serif;
}

.form-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

#contact .col-md-6 {
  padding: 0, 15px;
}

.form-row > .col,
.form-row > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

section#contact .form-group {
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 1rem;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffeeb5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, blue, 0.25);
}

.text-danger {
  color: #dc3545 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

small {
  font-size: 80%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input {
  overflow: visible;
}

select.form-control[muultiple],
select.form-control[size],
textarea.form-control {
  height: auto;
}

.col,
.col-md-6,
.col-lg-6,
.col-md-12,
.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle:focus {
  color: #212529;
  background-color: #fec503;
  border-color: #f3bd01;
}

.btn-primary:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fec810;
  border-color: #fec810;
  color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.5) !important;
}

.btn-primary:hover {
  background-color: #fec810;
  border-color: #fec810;
  color: #212529;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(230, 167, 86, 0.25);
}

.btn:focus .btn.hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
  color: #fff;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

button {
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

/* @media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
} */

@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  section {
    padding: 150px 0;
  }
}
