@media (min-width: 576px) {
  .page-footer {
    text-align: left;
  }
}

@media (min-height: 768px) {
  .page-footer ul li {
    position: relative;
    padding-left: 10px;
  }

  .page-footer ul li:after {
    top: 13px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .page-footer ul li:before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .page-footer ul li:after,
  .page-footer ul li:before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 6px;
    border-radius: 2px;
    background-color: #007bff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.page-footer {
  background-color: #fff;
  padding-top: 30px;
  text-align: center;
}

.page-footer.dark .footer-copyright {
  background-color: #222425;
  border-color: #222425;
}

.page-footer .footer-copyright {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ededed;
}

dl,
ol,
ul {
  margin-top: 0;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}

.page-footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-footer.dark .footer-copyright p {
  color: #ccc;
}

.page-footer .footer-copyright p {
  margin: 10px;
  color: #7d8288;
}
.page-footer.dark h5 {
  color: #fff;
}

.page-footer h5 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}

.page-footer.dark {
  background-color: #2b2f31;
}

.footer {
  display: block;
}

.page-footer.dark a:focus,
.page-footer.dark a:hover {
  color: #fff;
}

.page-footer a:focus,
.page-footer a:hover {
  text-decoration: none;
  color: #1d2125;
}

.page-footer.dark a {
  color: #d2d1d1;
}

.page-footer a {
  color: #53595f;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
